import(stats)
import(gtools)
import(Matrix)
import("methods")
import("Biostrings")

exportClasses(
    baseSummary,
    citing,
    cncsframe,
    geneindex,
    saturateBF,
    siteindices
)

export(
    aboutQueeems,
    baseFrequency,
    bstringCodons,
    CnCs,
    cncsentropy,
    codondifferindex,
    codonDissimilarity,
    diffNucBinary,
    entropyindex,
    fubarweights,
    mnomLogl,
    molentropy,
    n2cFreqs,
    nonSynonymous,
    queeemsExtdata,
    seqSaturation,
    softmax
)

exportMethods(
    bstringCodons,
    codonDissimilarity,
    nseqs,
    datatype,
    basecensus,
    nORs,
    nsfreqs,
    nonvaries,
    nucbalance,
    wildtriplets,
    renyiA,
    informula,
    sitentropies,
    useSyn,
    gentropy,
    sitecount,
    BFs,
    LogL0,
    LogL1
)

