import(stats)
import(Matrix)
import(methods)
importFrom(gtools, permutations)
importFrom(Biostrings, width)
importFrom(Biostrings, BStringSet)
importFrom(Biostrings, AAStringSet)
importFrom(Biostrings, DNAStringSet)
importFrom(Biostrings, readBStringSet)
importFrom(Biostrings, consensusMatrix)
importFrom(Biostrings, readAAStringSet)
importFrom(Biostrings, consensusString)
importFrom(Biostrings, writeXStringSet)
importFrom(Biostrings, readDNAStringSet)

exportClasses(
    baseSummary,
    citing,
    cncsframe,
    geneindex,
    saturateBF,
    siteindices
)

export(
    aboutQueeems,
    baseFrequency,
    bstringCodons,
    CnCs,
    cncsentropy,
    codondifferindex,
    codonDissimilarity,
    diffNucBinary,
    entropyindex,
    fubarweights,
    mnomLogl,
    molentropy,
    n2cFreqs,
    nonSynonymous,
    queeemsExtdata,
    seqfilter,
    seqSaturation,
    softmax
)

exportMethods(
    bstringCodons,
    codonDissimilarity,
    nseqs,
    datatype,
    basecensus,
    nORs,
    nsfreqs,
    nonvaries,
    nucbalance,
    wildtriplets,
    renyiA,
    informula,
    sitentropies,
    useSyn,
    gentropy,
    sitecount,
    BFs,
    LogL0,
    LogL1,
    mainPi,
    BFthreshold
)

